name: Daily Script Run

# Időzített trigger beállítása cron syntax használatával
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:  

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '21.4.0'

    - name: Install dependencies
      run: npm install 
      working-directory: ./.github/workflows/

    - name: Run nostr
      run: npm run nostr
      working-directory: ./.github/workflows/

    - name: Add and commit changes
      run: |
        git config --global user.email "baligabor81@gmail.com"
        git config --global user.name "Baligabor"
        git add .
        git commit -m "Add daily nostr data"
        git push https://${{ secrets.NEWDEPLOY }}@github.com/Baligabor/collectlinkdata.git